body{
            background-attachment: fixed;
            font-family: "Times New Roman";
            font-size: 12px; 
            margin: 1%;
            }

main{
    float: left;
    width: 78%;
    height: auto;
}
/* ---------NAVEGADOR--------*/
nav{
    background-color: darkgray;
    color: white;
    padding: 10px;
    border-radius: 60px;
    border:5px inset black;
}
nav ul{
    list-style-type: none;
    text-align: center;
    
}
nav li{
    display: inline;
}
nav a{
    font-size: 20px; 
    color:white;  

    background-color: forestgreen;
    border: 5px outset darkseagreen;
    border-radius: 60px;
    
}
nav a.activo{
    background-color: white;
    color:black;  
}
nav a:hover{
    background-color: white;
    color:black;  
}
/* ----HEADER-------*/

header{
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: center;
    align-content: center;
    background-color: darkgray;
    border-radius: 60px;
    border: 5px inset black;
    
    color:orange;
    text-align: center;
    font-family: "Times New Roman";
    font-size: 50px;
}

header img.logo{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 150px;
    border:5px outset orange;
    border-radius: 40px;
}

header img.Chuches1{
    
        width: 150px;
        margin-bottom: 10px;
        margin-top: 10px;
    
        border:5px outset none;
        border-radius: 60px;
    
        transform: rotate(-20deg);

}
header img.Chuches2{
    
        width: 150px;
        margin-bottom: 10px;
        margin-top: 10px;

        border:5px outset none;
        border-radius: 60px;
    
        transform: rotate(20deg);

}

a{
    text-decoration: none;
    font-size:20px;
    padding: 10px;
}
a.index{
    border-style: hidden;
}
/* -------GALERIA --------*/
article p.articulos{
    margin-top: 10px;
    margin: 20px;
    border: 5px outset hotpink;
    border-radius: 60px;
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
    background-color: skyblue;
}
/*Estilos de la galeria*/

.galeria {
	width: 90%;
	margin: auto;
	list-style: none;
	padding: 20px;
	box-sizing: border-box;    
    
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.galeria li {
	margin: 5px;
}

.galeria img {
    border: 5px outset black;
    margin:50px;
    border-radius: 60px;
    
    width: 150px;
    height: 100px;
}

/*Estilos del modal*/

.modal {
	display: none;
}

.modal:target {
	
	display: block;
	position: fixed;
	background: rgba(0,0,0,0.8);
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.modal h3 {
	color: #fff;
	font-size: 30px;
	text-align: center;
	margin: 15px 0;
}

.imagen {
	width: 100%;
	height: 50%;
	
	display: flex;
	justify-content: center;
	align-items: center;
}

.imagen a {
	color: #fff;
	font-size: 40px;
	text-decoration: none;
	margin: 0 10px;
}

.imagen a:nth-child(2) {
	margin: 0;
	height: 100%;
	flex-shrink: 2;
}

.imagen img {
	width: 500px;
	height: 100%;
	max-width: 100%;
	border: 7px solid #fff;
	box-sizing: border-box;
}

.cerrar {
	display: block;
	background: #fff;
	width: 25px;
	height: 25px;
	margin: 15px auto;
	text-align: center;
	text-decoration: none;
	font-size: 25px;
	color: #000;
	padding: 5px;
	border-radius: 50%;
	line-height: 25px;
}
.precio{
    font-size: 20px;
    font-weight: bold;
}

/* ----------PAGINA--------*/
section{
    border:5px inset black; 
    border-radius: 60px;
    background-color: darkgray;
    height: 1000px;
    margin-right:auto; 
    
}

article{
    border:5px inset black;
    border-radius: 60px;
    background-color: white;
    margin: 10px;
    margin-left: 10px;
    text-align: center;
}
article h1{
    text-align: center;
    
    font-size: 50px;
    color:hotpink;
    font-weight: 900;    
}
article img.foto{
    height: 200px;
    margin-top: 100px;
    margin-bottom: 10px;
    margin-right: 50px;
    border-radius: 60px;
    
}
.video{
align-content: center;
}
p.Curriculum{
    margin-top: 10px;
    margin: 20px;
    border:5px solid black;
    border-radius: 60px;
    font-size: 50px;
    text-align: center;
    background-color: skyblue}
.intro{
    margin:30px;
    font-size: 15px;
    font-weight: bolder;
    color:blue;
    
}
article p.titulo{
    color:blue;
    font-size: 25px;
    text-align: center;
    font-weight: 900;
    height: auto;
}
article p.texto{
    font-size: 15px;
    font-family: monospace;
    font-weight: 900;
    
    margin-left: 150px;
    margin-right: 150px;
    
    height: auto;
}
.video{
    text-align: center;
    border: none;
    background-color: darkgrey;
}
iframe{
    margin-left:10px;
    margin-bottom: 20px;
    width: 500px;
   height: 300px; 
    border-radius: 60px;
    text-align: center;
}

.formulario{
    margin-left: 50px;
    margin-bottom: 10px;
    
}
p.formulario{
    text-align: center;
    font-size: 12px;
}
p.trabajo{
    text-align: center;
    font-size: 25px;
}
p.clausula{
    font-size: 10px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 10px;
}

p.curriculum{
    
    text-align: center;
    font-size: 12px;
}
/* ------FORMULARIO ----- */
input[type=text],input[type=email],input[type=submit],input[type=checkbox] {
    padding: 5px 10px; 
    margin: 8px 5px;
    border-bottom-style: groove;
    border-radius: 4px;
}
input[type=date] {
    padding: 5px 10px;
    margin: 8px 5px;
    border-bottom-style: groove;
    border-radius: 4px;
    width: 50%;
}

textarea.trabajo{
    
    width: 90%;
    margin-left:40px; 
    margin-right: 40px;
    
}
fieldset p.formulario{
    
    margin-right: inherit;
}
.celda{
    font-size: 20px;
    width: auto;
    margin-left: 100px;
    border:solid 5px;
    border-color: white;
}
/* ----ASIDE---*/
aside{
    background-color: darkgray;
    border: 5px inset black;
    border-radius: 60px;
    height: 1000px;
    width: 20%;
    float: right;
    }
aside p{
    margin-top: 10px;
    margin: 20px;
    border: 5px outset hotpink;
    border-radius: 60px;
    font-size: 20px;
    text-align: center;
    background-color: skyblue;
}
aside img{
    height: 50px;
    display:flex;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    
}
.publi{
    
    margin-top: 100px;
}
/*----------- FOOTER---------*/
footer{
    
    background-color: darkgray;
    border: 5px inset black;
    border-radius: 60px;
    position: relative;
    display:flex;
    top: 20px;
    width: 100%;
    
}
footer li{
    margin-left: 20px;
    
    
}
footer img{ /* FALTA PONER A LA DERECHA DEL TODO EL LOGO */
    margin:20px;
    margin-left: 70%;
    height: 40px;
    
    border:5px outset orange;
    border-radius: 40px;
}



