body{
            background-attachment: fixed;
            font-family: "Times New Roman";
            font-size: 12px; 
            margin: 1%;
            }

main{
    float: left;
    width: 78%;
    height: auto;
}
/* ---------NAVEGADOR--------*/
nav{
    background-color: darkgray;
    color: white;
    padding: 10px;
    border-radius: 60px;
    border:5px inset black;
}
nav ul{
    list-style-type: none;
    text-align: center;
    
}
nav li{
    display: inline;
}
nav a{
    font-size: 20px; 
    color:white;  

    background-color: forestgreen;
    border: 5px outset darkseagreen;
    border-radius: 60px;
    
}
nav a.activo{
    background-color: white;
    color:black;  
}
/* ----HEADER-------*/

header{
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: center;
    align-content: center;
    background-color: darkgray;
    border-radius: 60px;
    border: 5px inset black;
    
    color:orange;
    text-align: center;
    font-family: "Times New Roman";
    font-size: 50px;
}

header img.logo{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 150px;
    border:5px outset orange;
    border-radius: 40px;
}

header img.Chuches1{
    
        width: 150px;
        margin-bottom: 10px;
        margin-top: 10px;
    
        border:5px outset none;
        border-radius: 60px;
    
        transform: rotate(-20deg);

}
header img.Chuches2{
    
        width: 150px;
        margin-bottom: 10px;
        margin-top: 10px;

        border:5px outset none;
        border-radius: 60px;
    
        transform: rotate(20deg);

}
/*
.texto{
  margin: 100px;  
}*/

a{
    text-decoration: none;
    font-size:20px;
    padding: 10px;
}
a.index{
    border-style: hidden;
}

/* ----------PAGINA--------*/
section{
    border:5px inset black; 
    border-radius: 60px;
    background-color: darkgray;
    height: auto;
    margin-right:auto; 
    
}
.IMAGEN{/* PONER LA IMAGEN UNA SOLA QUE OCUPE TODO*/
    background-image: url(img/fonfo-chuches2.jpg);
}
article{
    border:5px inset black;
    border-radius: 60px;
    background-color: white;
    margin: 10px;
    margin-left: 10px;

}
article h1{
    text-align: center;
    
    font-size: 50px;
    color:hotpink;
    font-weight: 900;    
}
article img.foto{
    height: 200px;
    
    /*FALTA CENTRAR IMAGENES 
    margin-left: center;
    margin-bottom:20px;
    margin-right: auto;*/
    
    border-radius: 60px;
    
}
.intro{
    margin:30px;
    font-size: 15px;
    font-weight: bolder;
    color:blue;
    
}
article p.titulo{
    color:blue;
    font-size: 25px;
    text-align: center;
    font-weight: 900;
    height: auto;
}
article p.texto{
    font-size: 15px;
    font-family: monospace;
    font-style: italic;
    font-weight: 900;
    
    margin-left: 200px;
    margin-right: 200px;
    
    border:1px solid;
    height: auto;
}
iframe{
    margin-left:200px;
    margin-bottom: 20px;
    width: 1000px;
    height: 300px;
    border-radius: 60px;
}
/* ----ASIDE---*/
aside{
    background-color: darkgray;
    border: 5px inset black;
    border-radius: 60px;
    height: auto;
    width: 20%;
    float: right;
    }
aside p{
    margin-top: 10px;
    margin: 20px;
    border: 5px outset hotpink;
    border-radius: 60px;
    font-size: 20px;
    text-align: center;
    background-color: skyblue;
}
aside img{
    height: 50px;
    display:flex;
    margin-left: auto;
    margin-right: auto;
    
}
/*----------- FOOTER---------*/
footer{
    
    background-color: darkgray;
    border: 5px inset black;
    border-radius: 60px;
    position: relative;
    display:flex;
    top: 20px;
    width: 100%;
    
}
footer li{
    margin-left: 20px;
    
    
}
footer img{ /* FALTA PONER A LA DERECHA DEL TODO EL LOGO */
    margin: 20px;
    height: 40px;
    
    border:5px outset orange;
    border-radius: 40px;
}



