 h1{
            color:darkgreen;
            text-align: center;
            font-size:50;
            border:dotted 5px;
            text-align: justify;

        }
        body{
            background-image:url("receta-croquetas-jamon.jpg");
            background-attachment: fixed;
            margin: 100px;
            font-family: "Times New Roman";
            font-size: 12px;
        }
        p{
            color:blue;
            text-align: justify;
            font-family: "Times New Roman";

            
        }
        p.Ingr{
            color:darkviolet;
            text-align: justify;
            font-family: "Times New Roman";
            font-size: 12px;

        }
        p.pasos{
            text-align: center;
            color:deepskyblue;
            font-size: 40;
            text-align: justify;
            font-family: "Times New Roman";
            font-size: 12px;    
        }
        p.texto{
            font-size:12px;
            color:black;
            
        }